.searchImage {
    border: 1px solid #BDBDBD;
    color: #BDBDBD;
    border-radius: 12px;
    font-family: 'Noto Sans', sans-serif;

}

.searchImageInput {
    color: #BDBDBD;
    border: 0px solid transparent;
    width: 15rem;
    font-weight: 500;
    font-size: 14px;
    
}

.searchImageInput:focus {
    outline: none;
}

.navSingin {
    background-color: transparent;
    border: 0px solid;
    color: #BDBDBD;
    display: flex;
    align-items: center;
    transition: color .5s;
    font-family: 'Noto Sans', sans-serif;
}

.navSingin i{
    font-size: 1.5rem;
}

.navSingin:hover {
    color: #3DB46D;
}

.navAddPhoto {
    color: white;
    width: 137px;
    height: 55px;
    background-color: #3DB46D;
    font-family: 'Noto Sans', sans-serif;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    border: 0px solid transparent;
    font-weight: 700;
    font-size: 14px;
    transition: all .5s;
}

.navAddPhoto:disabled {
    filter: grayscale(1);
}

.navAddPhoto:hover {
    box-shadow: 0px 1px 6px #3db46db3;
}


.imageCard {
    position: relative;
    border-radius: 16px;
}


.imageCard button {
    position: absolute;
    right: 5%;
    top: 1.5vh;
    background-color: transparent;
    color: transparent;
    border: 1px solid transparent;
    border-radius: 38px;
    font-size: 10px;
    width: 63px;
    font-weight: 500;
    height: 23px;
    font-family: 'Montserrat';
    transition: all .5s;

}

.imageCard:hover button {
    color: #EB5757;
    border: 1px solid #EB5757;


}

.imageCard:hover button:hover {
    color: white;
    border: 1px solid #EB5757;
    background-color: #EB5757;

}

.imageCard:hover button:active {
    color: white;
    border: 1px solid #bf4a4a;
    background-color: #bf4a4a;

}

.imageCard p {
    position: absolute;
    font-weight: 700;
    font-size: 18px;
    color: transparent;
    left: 5%;
    bottom: 0vh;
    font-family: 'Montserrat';
    transition: all .5s;
}

.imageCard:hover p {
    
    color: white;
    
}

.imageHorizontal {
    width: 100%;
    border-radius: 16px;
    filter: brightness(1);
    transition: all .5s;
}


.imageCard:hover .imageHorizontal {
    filter: brightness(0.8);
}


.signInModalContainer {
    display: flex;
    flex-direction: column;
}

.signInModalContainer label {
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 14px;
    color: #4F4F4F;
}

.defaultInput {
    border: 1px solid #4F4F4F;
    border-radius: 12px;
    color: #BDBDBD;
    padding: 10px 15px;
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-family: 'Noto Sans';
    font-size: 14px;
    font-weight: 500;
    transition: all .5s;
}

.errorInput {
    border: 1px solid #eb5757b3;
    color: #eb5757b3;

}

.defaultInput:focus {
    outline: none;
}

.buttonGroups {
    display: flex;
    justify-content: space-between;
}

.afirmativeButton {
    width: 105px;
    height: 55px;
    background: #3DB46D;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    margin-left: 10px;
    transition: all .5s;
}

.afirmativeButton:hover {
    box-shadow: 0px 1px 6px #3db46db3;
}

.deleteButton {
    width: 105px;
    height: 55px;
    background: #EB5757;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    margin-left: 10px;
    transition: all .5s;
}

.deleteButton:hover {
    box-shadow: 0px 1px 6px #eb5757b3;
}


.negativeButton {
    width: 105px;
    height: 55px;
    background: transparent;
    border-radius: 12px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #BDBDBD;
    border: none;
    transition: all .5s;
}

.negativeButton:hover {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.modalStyle {
    max-width: 620px;
}

.modal-content {
    border-radius: 12px;
}

.modal-tittle {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    height: 87.2vh;
    overflow-y: auto;
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
}
  
.customFlexNav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

button:focus-visible {
    outline: none;
}

.infoError {
    color: #EB5757;
    font-weight: bold;
}


.modalCenter {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    height: 488px;

}

.siginOverFlow {
    margin: 0;
    width: 4rem;
    overflow-x: hidden;

}

.spinnerSignIn {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    height: 344px;
}


.my-masonry-grid::-webkit-scrollbar {
    display: none;  /* Ocultar scroll */
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    
    background-color: #ffffff;
    width: 100%;
    border: #ebebeb 1px solid;
}

.footer p {
    margin: .3rem 0;
    font-family: 'Noto Sans', sans-serif;
}

.footer a {
    text-decoration: none;
    font-weight: bolder;
}

.labelnotfound {
    font-size: 1.5rem;
    color: #BDBDBD;
    font-family: 'Noto Sans', sans-serif;

    margin-bottom: 12rem;
}

.notFound {
    height: 87.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}